# Package management
**/node_modules/

# Build Artifacts
build/
.local/

# KiCad
/pcb/project/fp-info-cache
/pcb/project/project-backups/

# Secrets
api/.env
api/credentials.*
nfc/settings.toml

# IDE configuration
.idea/

# Misc
.DS_Store
