[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-blinka = "*"
adafruit-circuitpython-bitmap-font = "==2.0.2"
adafruit-circuitpython-display-text = "==3.0.4"
adafruit-circuitpython-neopixel = "*"
adafruit-circuitpython-pn532 = "*"
adafruit-circuitpython-requests = "==2.0.2"
adafruit-circuitpython-st7789 = "==1.5.18"
types-circuitpython = "*"

[dev-packages]

[requires]
python_version = "3.12"
