<div class="modal-header">
  <div class="row">
    <div class="col-xs-11">
      <h3 class="modal-title">
        Add New Member
      </h3>
    </div>
    <div class="col-xs-1">
      <i
        class="fa fa-close"
        ng-click="dismiss()"
      >
      </i>
    </div>
  </div>
</div>
<div class="modal-body">
  <form name="newMembersModalForm" role="form">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        ng-model="member.name"
        placeholder="ex. John Doe"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ng-model="member.email"
        placeholder="ex. jdoe@example.com"
      />
    </div>
    <button
      class="btn btn-warning btn-sm pull-right"
      ng-click="addCardState = true;"
    >
      Add Card
    </button>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">UUID</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="addCardState" class="text-center">
          <td>
            <input 
              class="form-control" 
              ng-model="card.name" 
            />
          </td>
          <td>
            <input 
              class="form-control" 
              ng-model="card.uuid" 
            />
          </td>
          <td>
            <i
              class="fa fa-check-circle fa-2x"
              ng-click="addCard(card)" 
            >
            </i>
            <i
              class="fa fa-times-circle fa-2x"
              ng-click="clearCard(card)" 
            >
            </i>

          </td>
        </tr>
        <tr ng-show="member.cards.length === 0 && !addCardState">
          <td colspan="3" class="text-center">
            No Cards
          </td>
        </tr>
        <tr 
          ng-repeat="card in member.cards track by $index"
        >
          <td>{{card.name}}</td>
          <td>{{card.uuid}}</td>
          <td class="text-right">
            <i
              class="fa fa-pencil fa-2x"
              ng-click="editCard(card)"
            >
            </i>
            <i
              class="fa fa-trash fa-2x"
              ng-click="removeCard($index)"
            >
            </i>

          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
  >
    Create
  </button>
  <button
    type="button"
    class="btn btn-default pull-right"
    ng-click="dismiss()"
  >
    Close
  </button>
</div>
