<h1>Logs</h1>
<table class="table table-striped accessLog">
  <thead>
    <tr>
      <th class="text-center col-xs-5">
        Card UID
      </th>
      <th class="text-center col-xs-5">
        Timestamp
      </th>
      <th class="text-center col-xs-2">
        Allowed
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="log in logs">
      <td class="text-center">
        {{log.uid}}
      </td>
      <td class="text-center">
        {{log.timestamp | date:'short'}}
      </td>
      <td class="text-center">
        <i
          class="fa"
          ng-class="log.allowed ? 'fa-check' : 'fa-times'"
        >
        </i>
      </td>
    </tr>
  </tbody>
</table>
