<div class="modal-header">
  <div class="row">
    <div class="col-xs-9">
      <h3 class="modal-title">
        {{editMember?'Edit':'Add New'}} Member
      </h3>
    </div>
    <div class="col-xs-2 text-center">
      <i
        ng-if="editMember"
        class="fa fa-2x"
        ng-class="member.enabled ? 'fa-toggle-on' : 'fa-toggle-off'"
        ng-click="member.enabled = !member.enabled || false"
      >
      </i>
    </div>
    <div class="col-xs-1">
      <i
        class="fa fa-close"
        ng-click="dismiss()"
      >
      </i>
    </div>
  </div>
</div>
<div class="modal-body">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        ng-model="member.name"
        placeholder="ex. John Doe"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ng-model="member.email"
        placeholder="ex. jdoe@example.com"
      />
    </div>
    <button
      class="btn btn-warning btn-sm pull-right"
      ng-click="addCardState = true;"
    >
      Add Card
    </button>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center col-xs-5">Name</th>
          <th class="text-center col-xs-5">UID</th>
          <th class="text-center col-xs-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="addCardState" class="text-center">
          <td>
            <input
              class="form-control"
              ng-model="card.name"
            />
          </td>
          <td>
            <input
              class="form-control"
              ng-model="card.uid"
            />
          </td>
          <td>
            <i
              class="fa fa-check-circle fa-2x"
              ng-click="addCard(card)"
            >
            </i>
            <i
              class="fa fa-times-circle fa-2x"
              ng-click="clearCard()"
            >
            </i>

          </td>
        </tr>
        <tr ng-show="member.cards.length === 0 && !addCardState">
          <td colspan="3" class="text-center">
            No Cards
          </td>
        </tr>
        <tr
          ng-if="member.cards"
          ng-repeat="card in member.cards track by $index"
        >
          <td>
            <a href="" editable-text="card.name">{{card.name || "No Value"}}</a>
          </td>
          <td>
            <a href="" editable-text="card.uid">{{card.uid || "No Value"}}</a>
          </td>
          <td class="text-right">
            <i
              class="fa fa-trash fa-2x"
              ng-click="clearCard(card, $index)"
            >
            </i>

          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    ng-click="save()"
  >
    {{editMember?'Update':'Create'}}
  </button>
  <button
    type="button"
    class="btn btn-default pull-right"
    ng-click="dismiss()"
  >
    Close
  </button>
</div>
