doctype html
html(lang="en")
  head
    title= 'Error - ' + status
  body
    h1= name.replace(/([a-z])([A-Z])/g, '$1 $2')
    if (env == 'development' || env == 'test')
      h2= error
      pre= stack
